/*******************
GENERAL
********************/
/*
yellow:; f38700
orange:;f63e02
yellow-orange:;e57c04

*/


body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.clear {
  clear: both;
}

a {
  text-decoration: none; 
}

img {
  max-width: 100%;
  width: 100%;
}

h3 {
  margin: 0 0 1em 0;
  
}



/******************* Header & Navigation ********************/
header {
  padding: 20px 0;
  background-color:#e57c04;
}

header img {
  float: left;
  width: 25%;
}
header h1 {
  width: 75%;
  color: #fff
  ;
}



section {
  padding: 75px 0;
}

.text-wrap {
  float: left;
  width: 40%;
  padding: 2.5%;
  margin-right: 5%;
  background-color:#f63e02;
}

 .text-wrap p, .text-wrap li {
  color: #fff;
}
.text-wrap h2 {
  color: #f38700
  ;
}
.image-wrap {
  width: 50%;
  float: left;
}

.facts-wrap .text-wrap {
  margin-right: 0%;
  margin-left: 5%;
}
/*******************
FOOTER
********************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
  background-color:#e57c04;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px
}

/*******************
home gallery
********************/

.home-gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.home-gallery li {
  background-color: #A52222;
  color: #bdc3c7;
}

.home-gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7;
}

/*******************
menu gallery
********************/

.menu-gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
